<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/back.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/logs/back.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Храним файлы логов 10 дней -->
            <maxHistory>90</maxHistory>

            <!-- Максимальный размер файлов лога 10 гигабайт -->
            <totalSizeCap>2GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Настройка уровня логирования -->
    <root level="info">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>
    <!--<Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level ="debug">
        <appender-ref ref="FILE"  level="debug"/>
    </Logger>-->

    <Logger name="com.usareboot.back" level ="debug" >
        <appender-ref ref="FILE"  level="debug"/>
    </Logger>
   <!-- <Logger name=" com.usareboot.back.VkApiClient" level ="TRACE" >
        <appender-ref ref="FILE"  level="TRACE"/>
    </Logger>-->
    <Logger name="  com.vk.api.sdk" level ="debug" >
        <appender-ref ref="FILE"  level="debug"/>
    </Logger>
    <Logger name="org.apache.http" level ="WARN" >
        <appender-ref ref="FILE"  level="WARN"/>
    </Logger>

    <Logger name="org.apache.http.wire" level ="ERROR" >
        <appender-ref ref="FILE"  level="ERROR"/>
    </Logger>

    <Logger name="org.springframework.web" level ="DEBUG" >
        <appender-ref ref="FILE"  level="DEBUG"/>
    </Logger>


    <!--<Logger name="org.springframework" level ="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"  level="debug"/>
    </Logger>-->

</configuration>